/* sets base style for each page */
html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
body{

   color:#333333;
   font-family: arial;
   max-width: 650px;
   margin:0 auto;
   padding: 0 16px;
  /* background-image :url('/img/weather-images2.gif');
   background-repeat :repeat;
   background-attachment:fixed;
   background-size:cover;
   font-size:12px;*/
   display:flex;
   flex-direction: column;
   min-height:100vh
}

.main-content{

    flex-grow:1;

}
footer{

    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top:16px;
    padding:16px 0;

}
header{

    margin-top:16px;
    margin-bottom:48px;
}

h1{

    font-size: 64px;
    margin-bottom:16px;
}

header a{

    color: #2b2525;
    margin-right:16px;
    text-decoration: none;

}

.portrait {
    width : 300px;
}
.home-bg{

    background-image: url('/img/weather-images2.gif');
    background-repeat :repeat;
    background-attachment:fixed;
    background-size:cover;
}
.about-bg{

    background-image: url('/img/weather-images.jpeg');
    background-repeat :repeat;
    background-attachment:fixed;
    background-size:cover;
}
.help-bg{
    background-image: url('/img/weather-images.jpeg');
    background-repeat :repeat;
    background-attachment:fixed;
    background-size:cover;

}

input{

    border: 1px solid #cccccc;
    padding: 8px;
}

button{

    cursor: pointer;
    border: 1px solid #0e0e0e;
    background: #181717;
    color: rgb(202, 187, 187);
    padding:8px;

}